LOCALHOST=http://localhost
HOST="digite o ip público ou endereço de dns da api"


// nunca escreva sem algo antes do USERNAME, se não ele vai pegar o nome de usúario do computador, ao inves do que foi adicionado aqui.
DB_USERNAME="nome de usuario para o banco de dados"
DB_PASSWORD="senha para o banco de dados"